<meta charset="UTF-8" />
<!--link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"-->
<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex">
<style>
ul.posts > li {font-size: small; margin-bottom: 1ex;}
ul.posts > li a:hover {text-decoration: none; border-bottom: 1px dotted;}
#colonna{margin-top: 4ex;}
#colonna h2 {font-size: 120%;}
</style>
