<!DOCTYPE html>
<html>
<head>
  {% include common_head.html %}
  <title>{{ page.title }}</title>
</head>
<body>
  {% include navbar.html %} 
  <div id="contenitore" class="container">
    {% include carousel.html %}
    <div class="row">
      <div id="contenuto_principale" class="col-sm-7 col-md-8">
        {{content}}
      </div> <!-- /#contenuto_principale .col-sm-6 .col-md-8-->
      <div id="colonna" class="col-sm-5 col-md-4">
        {% include sidebar.html %}
      </div> <!-- /#colonna .col-sm-6 .col-md-4 -->
    </div> <!-- /.row -->
    <div class="row small" id="footer">
      {% include footer.html %}
    </div>
  </div> <!-- /#contenitore .container -->
{% include body_end.html %}
</body>
</html>
